:root {
    --primary: #f2b366;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--title {
    color: var(--primary);
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    text-align: center;
    background-color: rgb(201, 201, 201);
}

.header {
    background-color: rgb(201, 201, 201);
    padding: 2ch;
}

.menu--item {
    text-decoration: none;
    padding: 0.2rem;
    background-color: rgb(37, 34, 34);
    color: var(--primary);
    border-radius: 14px;
    width: 150px;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
